<%- include('../includes/head.ejs') %>
</head>

<body>

    <main>
        <div class="form-wrapper">
            <form class="login-form" action="/auth/set-new-password" method="POST">
                <h1 class="form-title">Enter new password</h1>
                <div class="form-control">
                    <img class="icon" src="/img/lock.svg" alt="Login">
                    <input class="input" type="password" name="password" id="password" placeholder="Password">
                </div>
                <div class="form-control">
                    <img class="icon" src="/img/correct.svg" alt="Login">
                    <input class="input" type="password" name="confirmPassword" id="confirm-password"
                        placeholder="Confirm Password">
                </div>
                <input type="hidden" name="userId" value="<%= userId %>">
                <input type="hidden" name="recoveryString" value="<%= recoveryString %>">
                <% if (errorMessage) { %>
                <div class="user-message user-message--error"><%= errorMessage %></div>
                <% } %>
                <button class="btn login-button" type="submit">Change password</button>
            </form>
        </div>

    </main>
    <%- include('../includes/end.ejs') %>