<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="main">
        <div class="flex">
            <form class="form" action="<% if (editMode) { %>/edit-reminder<% } else { %>/add-reminder<% } %>"
                method="POST">
                <div class="container">
                    <h1 class="form-title">
                        <% if (editMode) { %><%- include('../includes/translate.ejs', {string: "edit_reminder"}) %><% } else { %><%- include('../includes/translate.ejs', {string: "remind_me_to"}) %><% } %>
                    </h1>
                    <div class="form-control">
                        <span class="note-remind-title"><%= note.dataValues.title %></span>
                        <span class="note-remind-description"><%= note.dataValues.text %></span>
                    </div>
                    <div class="form-control">
                        <img class="icon" src="/img/reminder.svg" alt="brush">
                        <input value="<% if (editMode) { %><%= reminder.remindText %><% } %>" class="input input-white"
                            type="text" name="remindText" id="remindText"
                            placeholder="<%- include('../includes/translate.ejs', {string: "reminder_description"}) %>">
                    </div>
                    <div class="form-control">
                        <img class="icon" src="/img/calendar.svg" alt="calendar">
                        <input value="<% if (editMode) { %><%= reminder.timestamp %><% } %>" class="input input-white"
                            type="date" name="timestamp" id="timestamp">
                    </div>
                    <input value="<%= note.dataValues.id %>" type="hidden" name="noteId">
                    <% if (editMode) { %>
                    <input value="<%= reminder.id %>" type="hidden" name="reminderId">
                    <% } %>
                    <% if (errorMessage) { %>
                    <div class="user-message user-message--error"><%= errorMessage %></div>
                    <% } %>
                    <button class="btn login-button"
                        type="submit"><% if (editMode) { %><%- include('../includes/translate.ejs', {string: "submit"}) %><% } else { %><%- include('../includes/translate.ejs', {string: "add_reminder"}) %><% } %></button>
                </div>
            </form>

        </div>

    </main>
    <%- include('../includes/end.ejs') %>