<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="main">
        <h1 class="title"><%- include('../includes/translate.ejs', {string: "archive"}) %></h1>
        <% if (notes.length > 0) { %>
        <div class="notes-container">
            <% for (let note of notes) { %>
                <%- include('../includes/archived-note.ejs', {note: note}) %>
            <% } %>
        </div>
        <% } else { %>
        <h1 class="title"><%- include('../includes/translate.ejs', {string: "no_notes_in_archive"}) %></h1>
        <% } %>

    </main>
    <%- include('../includes/end.ejs') %>