<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="main">
        <h1 class="title">Welcome, <%= user.dataValues.login %></h1>
        <% if (notes.length > 0) { %>
        <h4 class="title">Here are items you've pinned:</h4>
        <div class="notes-container">
            <% for (let note of notes) { %>
            <%- include('../includes/note.ejs', {note: note, home: true}) %>
            <% } %>
        </div>
        <% } else { %>
        <h1 class="title">Your pinned notes would appear here!</h1>
        <% } %>

    </main>
    <%- include('../includes/end.ejs') %>