<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="main">
        <div class="flex-between">
            <h2 calss="title">Your Reminders:</h2>
            <% if (editMode) { %>
            <a class="btn btn-primary" href="/reminders">Normal View</a>
            <% } else { %>
            <a class="btn warning" href="/reminders?action=edit">Edit Reminders</a>
            <% } %>
        </div>
        <% if (notes.length > 0) { %>
        <div class="table-grid">
            <div class="<% if (editMode) { %>row-6-reminder<% } else { %>row-5-reminder<% } %>">
                <div class="cell head-cell flex-center">#</div>
                <div class="cell head-cell">Note Name</div>
                <% if (!editMode) { %>
                <div class="cell head-cell">Note Description</div>
                <% } %>
                <div class="cell head-cell">Remind Date</div>
                <div class="cell head-cell">Remind Text</div>
                <% if (editMode) { %>
                <div class="cell head-cell flex-center">Edit</div>
                <div class="cell head-cell flex-center">Delete</div>
                <% } %>
            </div>
            <% for (let note of notes) { %>
            <% for (let reminder of note.dataValues.reminders) { %>
            <div class="<% if (editMode) { %>row-6-reminder<% } else { %>row-5-reminder<% } %>">
                <div class="cell flex-center">
                    <span class="color-circle"
                        style="background-color:<%= note.dataValues.color.dataValues.hash %>;"></span>
                </div>
                <div class="cell"><%= note.dataValues.title %></div>
                <% if (!editMode) { %>
                <div class="cell"><%= note.dataValues.text %></div>
                <% } %>
                <div class="cell"><%= reminder.dataValues.timestamp.toDateString() %></div>
                <div class="cell"><%= reminder.dataValues.remindText %></div>
                <% if (editMode) { %>
                <div class="cell flex-center">
                    <a class="btn warning" href="/edit-reminder/<%= reminder.dataValues.id %>">Edit</a>
                </div>
                <div class="cell flex-center">
                    <form action="/delete-reminder" method="POST">
                        <input type="hidden" name="reminderId" value="<%= reminder.dataValues.id %>">
                        <button type="submit" class="btn danger">Delete</button>
                    </form>
                </div>
                <% } %>
            </div>
            <% } %>
            <% } %>
        </div>
        <% } else { %>
        <h1 class="title">No Reminders created yet!</h1>
        <% } %>

    </main>
    <%- include('../includes/end.ejs') %>