<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="main">
        <div class="flex-between">
            <h2><%- include('../includes/translate.ejs', {string: "your_reminders"}) %></h2>
            <% if (editMode) { %>
            <a class="btn btn-primary" href="/reminders"><%- include('../includes/translate.ejs', {string: "overview"}) %></a>
            <% } else { %>
            <a class="btn warning" href="/reminders?action=edit"><%- include('../includes/translate.ejs', {string: "edit"}) %></a>
            <% } %>
        </div>
        <% if (notes.length > 0) { %>
        <div class="table-grid">
            <div class="<% if (editMode) { %>row-6-reminder<% } else { %>row-5-reminder<% } %>">
                <div class="cell head-cell flex-center">#</div>
                <div class="cell head-cell"><%- include('../includes/translate.ejs', {string: "name"}) %></div>
                <% if (!editMode) { %>
                <div class="cell head-cell"><%- include('../includes/translate.ejs', {string: "description"}) %></div>
                <% } %>
                <div class="cell head-cell"><%- include('../includes/translate.ejs', {string: "date"}) %></div>
                <div class="cell head-cell"><%- include('../includes/translate.ejs', {string: "text"}) %></div>
                <% if (editMode) { %>
                <div class="cell head-cell flex-center"><%- include('../includes/translate.ejs', {string: "edit"}) %></div>
                <div class="cell head-cell flex-center"><%- include('../includes/translate.ejs', {string: "delete"}) %></div>
                <% } %>
            </div>
            <% for (let note of notes) { %>
            <% for (let reminder of note.dataValues.reminders) { %>
            <div class="<% if (editMode) { %>row-6-reminder<% } else { %>row-5-reminder<% } %>">
                <div class="cell flex-center">
                    <span class="color-circle" <% if (note.dataValues.color) { %>
                        style="background-color:<%= note.dataValues.color.dataValues.hash %>;" <% } %>></span>
                </div>
                <div class="cell"><%= note.dataValues.title %></div>
                <% if (!editMode) { %>
                <div class="cell"><%= note.dataValues.text %></div>
                <% } %>
                <div class="cell"><%= reminder.dataValues.timestamp.toDateString() %></div>
                <div class="cell"><%= reminder.dataValues.remindText %></div>
                <% if (editMode) { %>
                <div class="cell flex-center">
                    <a class="btn warning" href="/edit-reminder/<%= reminder.dataValues.id %>"><%- include('../includes/translate.ejs', {string: "edit"}) %></a>
                </div>
                <div class="cell flex-center">
                    <form action="/delete-reminder" method="POST">
                        <input type="hidden" name="reminderId" value="<%= reminder.dataValues.id %>">
                        <button type="submit" class="btn danger"><%- include('../includes/translate.ejs', {string: "delete"}) %></button>
                    </form>
                </div>
                <% } %>
            </div>
            <% } %>
            <% } %>
        </div>
        <% } else { %>
        <h1 class="title"><%- include('../includes/translate.ejs', {string: "no_reminders"}) %></h1>
        <% } %>

    </main>
    <%- include('../includes/end.ejs') %>