<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="main">
        <form action="/search" method="POST" class="action-form search-form">
            <div class="flex">
                <div class="search-input-container">
                    <img class="icon" src="/img/search.svg" alt="brush">
                    <input value="<% if (searchTerm) { %><%= searchTerm %><% } %>" name="searchTerm" type="text"
                        required class="search-input">
                </div>
                <button class="add-button btn" type="submit">
                    <span
                        class="add-button-label"><%- include('../includes/translate.ejs', {string: "search"}) %></span>
                </button>
            </div>
        </form>
        <% if (notes.length > 0) { %>
        <div class="notes-container">
            <% for (let note of notes) { %>
            <% if (!note.dataValues.isArchived) { %>
            <%- include('../includes/note.ejs', {note: note, home: false}) %>
            <% } else { %>
            <%- include('../includes/archived-note.ejs', {note: note}) %>
            <% } %>
            <% } %>
        </div>
        <% } else { %>
        <h1 class="title margin-top-sm"><%- include('../includes/translate.ejs', {string: "no_notes_found"}) %></h1>
        <% } %>

    </main>
    <%- include('../includes/end.ejs') %>