<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="main">
        <form action="/search" method="POST" class="action-form search-form">
            <div class="flex">
                <div class="search-input-container">
                    <img class="icon" src="/img/search.svg" alt="brush">
                    <input value="<% if (searchTerm) { %><%= searchTerm %><% } %>" name="searchTerm" type="text"
                        required class="search-input">
                </div>
                <button class="add-button btn" type="submit">
                    <span class="add-button-label"><%- include('../includes/translate.ejs', {string: "search"}) %></span>
                </button>
            </div>
        </form>
        <% if (notes.length > 0) { %>
        <div class="notes-container">
            <% for (let note of notes) { %>
            <article class="note--item" <% if (note.dataValues.color) { %>
                style="background-color:<%= note.dataValues.color.dataValues.hash %>;" <% } %>>
                <div class="note--main">
                    <div class="note--body">
                        <% if (note.title) { %>
                        <h2 class="note__title">
                            <%= note.title %>
                        </h2>
                        <% } %>
                        <p class="note__description">
                            <%= note.text %>
                        </p>
                    </div>
                    <div class="note--footer">
                        <% if (note.dataValues.tags.length > 0) { %>
                        <% for (let tag of note.dataValues.tags) { %>
                        <a href="/tags/<%= tag.dataValues.id %>" class="tag-small">#<%= tag.name %></a>
                        <% } %>
                        <% } %>
                    </div>
                </div>
                <% if (note.dataValues.isArchived) { %>
                <div class="actions">
                    <form action="/archive-note" method="POST" class="action-form">
                        <input name="noteId" value="<%= note.dataValues.id %>" type="hidden">
                        <button class="action-button flex" type="submit">
                            <img src="/img/upload.svg" alt="Pin" class="action-img">
                        </button>
                    </form>
                    <form action="/delete-note" method="POST" class="action-form">
                        <input name="noteId" value="<%= note.dataValues.id %>" type="hidden">
                        <button class="action-button flex" type="submit">
                            <img src="/img/delete.svg" alt="Pin" class="action-img">
                        </button>
                    </form>
                </div>
                <% } else { %>
                <div class="actions">
                    <form action="/archive-note" method="POST" class="action-form flex">
                        <input name="noteId" value="<%= note.dataValues.id %>" type="hidden">
                        <button class="action-button" type="submit">
                            <img src="/img/archive.svg" alt="Archive" class="action-img">
                        </button>
                    </form>
                    <form action="/pin-note" method="POST" class="action-form">
                        <input name="noteId" value="<%= note.dataValues.id %>" type="hidden">
                        <button class="action-button flex" type="submit">
                            <img src="/img/pin.svg" alt="Pin" class="action-img">
                        </button>
                    </form>
                    <form action="/edit-note/<%= note.dataValues.id %>" method="GET" class="action-form">
                        <button class="action-button flex" type="submit">
                            <img src="/img/edit.svg" alt="Edit" class="action-img">
                        </button>
                    </form>
                    <form action="/add-reminder/<%= note.dataValues.id %>" method="GET" class="action-form">
                        <button class="action-button flex" type="submit">
                            <img src="/img/reminder.svg" alt="Remind" class="action-img">
                        </button>
                    </form>
                </div>
                <% } %>
            </article>
            <% } %>
        </div>
        <% } else { %>
        <h1 class="title margin-top-sm"><%- include('../includes/translate.ejs', {string: "no_notes_found"}) %></h1>
        <% } %>

    </main>
    <%- include('../includes/end.ejs') %>