<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="main">
        <h2 class="tag-title">#<%= currentTag.name %></h2>
        <h3 class="tag-description"><%= currentTag.description %></h3>
        <% if (notes.length > 0) { %>
        <div class="notes-container">
            <% for (let note of notes) { %>
            <%- include('../includes/note.ejs', {note: note, home: false}) %>
            <% } %>
        </div>
        <% } else { %>
        <h1 class="title">No notes Found!</h1>
        <% } %>

    </main>
    <%- include('../includes/end.ejs') %>