<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="main">
        <h2 class="tag-title">#<%= currentTag.name %></h2>
        <h3 class="tag-description"><%= currentTag.description %></h3>
        <% if (notes.length > 0) { %>
        <div class="notes-container">
            <% for (let note of notes) { %>
            <article class="note--item" <% if (note.dataValues.color) { %>
                style="background-color:<%= note.dataValues.color.dataValues.hash %>;" <% } %>>
                <div class="note--main">
                    <div class="note--body">
                        <% if (note.title) { %>
                        <h2 class="note__title">
                            <%= note.title %>
                        </h2>
                        <% } %>
                        <p class="note__description">
                            <%= note.text %>
                        </p>
                    </div>
                    <div class="note--footer">
                        <% if (note.dataValues.tags.length > 0) { %>
                        <% for (let tag of note.dataValues.tags) { %>
                        <a href="/tags/<%= tag.dataValues.id %>" class="tag-small">#<%= tag.name %></a>
                        <% } %>
                        <% } %>
                    </div>
                </div>
                <div class="actions">
                    <form action="/archive-note" method="POST" class="action-form flex">
                        <input name="noteId" value="<%= note.dataValues.id %>" type="hidden">
                        <button class="action-button" type="submit">
                            <img src="/img/archive.svg" alt="Archive" class="action-img">
                        </button>
                    </form>
                    <form action="/pin-note" method="POST" class="action-form">
                        <input name="noteId" value="<%= note.dataValues.id %>" type="hidden">
                        <button class="action-button flex" type="submit">
                            <img src="/img/pin.svg" alt="Pin" class="action-img">
                        </button>
                    </form>
                    <form action="/edit-note/<%= note.dataValues.id %>" method="GET" class="action-form">
                        <button class="action-button flex" type="submit">
                            <img src="/img/edit.svg" alt="Pin" class="action-img">
                        </button>
                    </form>
                    <form action="/add-reminder/<%= note.dataValues.id %>" method="GET" class="action-form">
                        <button class="action-button flex" type="submit">
                            <img src="/img/reminder.svg" alt="Remind" class="action-img">
                        </button>
                    </form>
                </div>
            </article>
            <% } %>
        </div>
        <% } else { %>
        <h1 class="title">No notes Found!</h1>
        <% } %>

    </main>
    <%- include('../includes/end.ejs') %>